# Python
__pycache__/
*.pyc
.venv/

# Node / Next.js
node_modules/
.next/

# Flutter / Dart
.dart_tool/
.packages
build/
*.iml
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Environment
.env
